body {
  background-color: aliceblue;
}

*{
  margin: 0;
  padding: 0;
}
.imageSection{
  background-color: white;
  border: 1px solid rgb(183, 183, 183);
}

.imageSection-header-logo {
  width: 3rem;
  border-radius: 50%;
}


.commentSection-addComment{
  position: absolute;
  bottom: 0;
}