body {
  /* background-color: rgb(235, 235, 235); */
  background-color: rgb(240, 240, 240);
}

*{
  margin: 0;
  padding: 0;
}
.imageSection{
  background-color: white;
  border: 1px solid rgb(183, 183, 183);
}

.imageSection-header-logo {
  width: 3rem;
  border-radius: 50%;
}




@media only screen and (max-width: 425px){
  .mainContainer{
    padding: 0 !important;
    margin: 0 !important;
  }
  .imageSectionContainer{
    width: 100% !important;
  }
  .commentSectionContainer{
    width: 100% !important;
  }
  .imageSection{
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }
  .commentSection{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .comments-list{
    padding: 10px;
  }
	.mainContainer{
    display: block !important;
  }
}